.navbarackground {
  background-color: #f9f2f2;
}

.stepMotorRedBlackOps {
  color:#cf0012;
  font-family: 'Black Ops One', cursive;
}

.navbarLogo{
  height: 80px;
  width: 80px;
}

.navbarGetDirections{
  left: -8px;
  font-size: 20px;
  text-decoration: none;
}

.telLink{
  font-size: 25px;
  top:-2px;
  text-decoration: none;
}

.navbar{
  margin-bottom:-5px;
  margin-top: -5px;
  font-family: 'Black Ops One', cursive;
}

.carousel {
  width:100%;
}

.gmaps{
  width:100%;
  height:500px;
}

.successImage{
  height: 300px;
  width: 300px;
}

.columnText{
  background-color: #f9f2f2;
  font-family: 'Verdana';
}

.privacyButton{
  height: auto;
  display: block;
  bottom: 15px;
  right: 25px;
  position: fixed;
  color: #cf0012;
}

.privacyModalBody h1{
    color: #cf0012;
}

.privacyModalBody h2{
    color: #cf0012;
}

.privacyModalBody h3{
    color: #cf0012;
}

.privacyModalBody h4{
    color: #cf0012;
}

.privacyModalBody h5{
    color: #cf0012;
}

.privacyModalBody h6{
    color: #cf0012;
}

.carListingImage {
  width: 300px;
}

.card {
  margin-top: 50px;
}

@media screen
and (max-width: 400px) {
   .navbarLogo {
       height: 50px;
       width: 50px;
   }
   .telLink{
     font-size: 20px;
   }
   .navbarGetDirections{
     font-size: 13px;
   }
}

#carouselListingImages {
  padding-left: 3%;
  padding-right: 3%;
}